.login-form {
    background: darkcyan;    
    height: auto;
    margin: 0 auto;
}
.login h1 {
    color: #fff;
    font-weight: 800;
    text-align: center;
}
.first {
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
}
.Last {
  display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
}
label.col-md-6.col-xs-12.labelbox {
    color: #fff;
    padding-left: 0px;
}
button.BtnSave {
    background: #000;
    color: #fff;
    font-weight: 600;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 10px;
    border: 2px solid #fff;
}
button.BtnReset {
    background: #000;
    color: #fff;
    font-weight: 600;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 10px;
    border: 2px solid #fff;
}
.main {
    margin-top: 20px;
    margin-bottom: 20px;
}
.col-md-8.col-xs-12.col-md-offset-2.textaligncenter {
    text-align: center;
}
img {
    width: 200px;
}